.logo
{
margin-bottom:0px;
margin-top:10px;
padding-top:0px;
}

.form1
{
text-align:right;
float:right;

}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#Layer1 {
	position:absolute;
	left:16px;
	top:1911px;
	width:1086px;
	height:73px;
	z-index:1;
}
#Layer2 {
	position:absolute;
	left:13px;
	top:189px;
	width:1089px;
	height:704px;
	z-index:2;
}